# Composer generated stuff
vendor
/web/
bin

# Portainer data
portainer-data

# MySQL data
mysql-data

# Un-ignore module
!/web/modules/custom/d8_cards
!/web/modules/custom/d8_cards/
!/web/modules/custom/d8_cards/**