{#
/**
 * @file
 * Overriding the paragraph--social-media--default view mode.
 */
#}
<table>
    <tr>
        <td>{{ content.field_embed_code.0['#text']|raw  }}</td>
        <td>{{ content.field_link }}</td>
    </tr>
</table>